@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15vh;
  font-family: "Oswald";
}

header h2 {
  font-weight: 700;
  font-size: 2.5rem;
  text-align: center;
}

header nav {
  width: 50%;
  height: 15vh;
}

header ul {
  height: 15vh;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  align-items: center;
}

header li {
  font-size: 1.25rem;
  font-weight: 500;
}

header a {
  text-decoration: none;
  color: #5b5b5b;
}

header a:hover {
  color: #000000;
  font-size: 1.5rem;
  border: solid;
  font-weight: 900;
}

.container_background_image {
  position: relative;
  width: 100%;
  height: 75vh;
  background: url("image/background.jpg") no-repeat center center/cover;
}

#solucoes {
  position: absolute;
  font-family: "Oswald";
  top: 10%;
  left: 10%;
  color: white;
}

#solucoes h2 {
  font-size: 96px;
  margin: 0;
}

#solucoes p {
  font-size: 32px;
  margin: 10px 0;
}

.button {
  background-color: #0016df;
  color: white;
  width: 251px;
  height: 59px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  border: none;
  border-radius: 6px;
  font-family: "Oswald";
  cursor: pointer;
}

.button:hover {
  background-color: #0016df;
}

.container-texto {
  margin-top: 50px;
  margin-left: 0;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  gap: 20px;
}

.text-column {
  flex: 1;
  max-width: 300px;
  max-height: 1200;
}

.texto-colunar {
  margin-top: 208px;
  flex: 1;
  max-width: 600px;
}

.image-column img {
  display: flex;
  width: 90vh;
  height: 90vh;
}

.highlight {
  width: 251px;
  height: px;
  color: #0017E9;
  font-weight: 500px;
  font-size: 24px;
  opacity: 0px;
  font-family: Oswald;
  font-weight: 500;
  line-height: 35.57px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
}

h1 {
  width: 474px;
  height: 92px;
  top: 133px;
  left: 113px;
  gap: 0px;
  opacity: 0px;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 800;
  line-height: 42.19px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
}

p {
  font-family: "Oswald";
  justify-content: space-evenly;
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 20px;
  max-width: 500px;
  max-height: 1200px;
  line-height: normal;
}

.contact-link {
  display: inline-block;
  color: white;
  background-color: #007bff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.contact-link:hover {
  background-color: #0056b3;
}

.contact-link {
  display: inline-block;
  color: white;
  background-color: #007bff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.contact-link:hover {
  background-color: #0056b3;
}

.containerServicos {
  min-height: 100vh;
  background-color: #D8D8D8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Oswald";
  text-align: center;
  gap: 2rem;
}

.containerServicos h3,
.containerServicos h2 {
  font-weight: 500;
  font-size: 1.5rem;
  color: #0017E9;
  text-transform: uppercase;
}

.containerServicos h2 {
  color: #000;
}

.containerServicos .containerCards {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2rem;
}

.containerServicos .containerCards .card {
  height: 30rem;
  width: 23rem;
  background-color: #fff;
  box-shadow: 0 0.25rem 0.625rem 0 #000;
}

.containerServicos .containerCards .card img {
  height: 50%;
  width: 100%;
}

.containerServicos .containerCards .card div {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 2.5rem 1.5rem;
}

.containerServicos .containerCards .card div span {
  font-weight: 500;
  font-size: 1.5rem;
}

.containerServicos .containerCards .card div p {
  font-weight: 200;
  font-size: 1.5rem;
  text-align: left;
}

.ContainerContatos {
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Oswald";
  margin-right: 2.5vh;
  /* caixa atendimento comercial*/
}
.ContainerContatos .contato {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  padding: 10%;
  align-items: start;
}
.ContainerContatos .contato h2 {
  color: #0017E9;
  font-size: 5vh;
}
.ContainerContatos .contato .contatosh3 {
  font-size: 2.5vh;
}
.ContainerContatos .contato .imagens {
  display: flex;
  flex-direction: center;
  justify-content: space-evenly;
  align-items: center;
  gap: 2vh;
}
.ContainerContatos .contato figure {
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.ContainerContatos .contato img {
  width: 100%;
  height: auto;
}
.ContainerContatos .FaleConosco {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
  height: auto;
  padding: 30vh;
}
.ContainerContatos .FaleConosco .FaleConoscoh2 {
  color: #0017E9;
  font-size: 5vh;
  margin-top: -3vh;
}
.ContainerContatos .FaleConosco .FaleConoscoh3 {
  font-size: 2.5vh;
}
.ContainerContatos .FaleConosco input {
  display: flex;
  flex-direction: row;
  height: 4vh;
}
.ContainerContatos .FaleConosco textarea {
  display: flex;
  flex-direction: row;
  height: 10vh;
}
.ContainerContatos .FaleConosco form {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40vh;
  align-items: flex start;
}
.ContainerContatos .FaleConosco form button {
  height: 5vh;
}

footer {
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D8D8D8;
}

footer p {
  font-family: "Oswald";
  font-weight: 700;
  font-size: 0.8rem;
  color: #001C43;
}

@media (max-width: 500px) {
  header {
    height: auto;
    flex-direction: column;
  }
  header h2 {
    display: none;
  }
  header nav {
    width: 100vh;
  }
  header ul {
    flex-direction: column;
    font-size: 10rem;
    padding: 0;
  }
  .container_background_image {
    position: relative;
    height: 70vh;
    width: 100vw;
    min-height: 30vh;
    margin-top: 4vh;
  }
  #solucoes {
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
  }
  #solucoes h2 {
    font-size: 2.25rem;
  }
  #solucoes p {
    font-size: 1rem;
  }
  .button {
    font-size: 1rem;
    width: 30%;
  }
  .container-texto {
    flex-direction: column;
    margin-top: 20px;
  }
  .texto-colunar {
    margin-top: 20px;
    max-width: 100%;
  }
  .image-column img {
    width: 100%;
    height: auto;
  }
  .containerServicos {
    padding: 3rem 0;
  }
  .containerServicos .containerCards .card {
    width: 90%;
  }
  .ContainerContatos {
    padding: 3rem 0;
    flex-direction: column;
    align-items: center;
    align-items: center;
    justify-content: center;
    margin-top: 15rem;
    margin-right: 0;
  }
  .ContainerContatos section {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
  }
  .ContainerContatos section h2,
  .ContainerContatos section h3 {
    text-align: center;
  }
  .ContainerContatos section h2 {
    font-size: 1.25rem;
  }
  .ContainerContatos section h3 {
    font-size: 1rem;
  }
  .imagens {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style: none;
    align-items: center;
  }
  figure {
    width: 90%;
    height: 25vh;
    margin: 0 auto;
  }
  img {
    width: 100%;
    height: auto;
  }
  form {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
  }
  footer {
    position: relative;
    height: auto;
    width: 100%;
    align-items: center;
    padding: 1rem 0;
    text-align: center;
    margin-top: 9rem;
  }
}/*# sourceMappingURL=style.css.map */